* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

/* Barra de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 12px;
    margin: 10px; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

/* Logo */
.logo a {
    font-size: 1.8rem; 
    font-weight: bold;
    text-decoration: none;
    color: #333; 
    transition: color 0.3s ease;
}

.logo a:hover {
    color: #8B5DFF; 
}

.logo a span {
    color: #8B5DFF; 
}

/* Links de navegação */
.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px; 
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 50px; 
}

.nav-links ul li a {
    text-decoration: none;
    color: #333; 
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links ul li a:hover {
    color: #8B5DFF; 
    transform: scale(1.1); 
}

/* Ícone do menu lateral */
.sideBarIcon {
    display: block; 
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 102; 
}

.sideBarIcon:hover {
    transform: scale(1.2); 
}

/* Barra de navegação lateral */
.navbar-side {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 280px;
    z-index: 101;
    background-color: rgba(255, 255, 255, 0.95); 
    backdrop-filter: blur(10px); 
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 20px;
    transition: right 0.3s ease; 
}

.navbar-side.active {
    right: 0; 
}

/* Links da barra lateral*/
.nav-side ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.nav-side ul li {
    margin: 20px 0;
}

.nav-side ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-side ul li a:hover {
    color: #8B5DFF;
    transform: translateX(10px); 
}

/* Data e hora */
.date-time {
    margin-right: 20px;
    text-align: right;
    font-size: 0.9rem;
    color: #555;
}

  #Time {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0.2rem;
  }
  #Date {
    font-size: 1rem;
    font-weight: bold;
  }

/* Container da imagem */
.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slider-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Gradiente sobre a imagem */
.slider-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    pointer-events: none;
}

/* Texto sobre a imagem */
.text-overlay {
    position: absolute;
    top: 20vh;
    left: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Efeito de vidro atrás do texto */
.middle {
    position: absolute;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
    padding: 20px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 30vh;
    justify-content: center;
    display: flex;
    text-align: center;
}

.middle h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

/*Estilo do select*/
select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin: 10px 0;
    border: 3px solid #ffffff;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    appearance: none;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: all 0.3s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23BCBCBC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
    margin-top: 3vh;
}

select:hover {
    border-color: #ffffff;
}

select:focus {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #000;
    text-shadow: none;
}

select:focus:hover {
    border-color: #ffffff;
}

select::-ms-expand {
    display: none;
}

/*Botão que leva ao distritos*/
.cta-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #8B5DFF;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2vh;
}

.cta-button:hover {
    background-color: #6a3ecc;
}

.scroll-indicator {
    z-index: 90;
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: white;
    font-size: 1rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.scroll-indicator span {
    display: block;
    font-size: 2rem;
    margin-top: 5px;
    animation: bounce 1.5s infinite ease-in-out;
}

/* Faz a seta mover-se*/
@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
}

.slides {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fade 1s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide.active {
    display: block;
}

.conhecer {
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: appear ease-in;
}

.conhecer h1 {
    font-size: 2.5rem;
}

.conhecer p {
    color: #0000008b;
    font-size: 1.5rem;
}

.conhecer h1 span {
    color: #8B5DFF;
}

.icons {
    margin-top: 5vh;
    display: flex; 
    flex-direction: row; 
    text-align: center;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}

.icons img {
    width: 7vh;
}

.icons h2 {
    font-size: 1.5rem;
}

.icons p {
    margin-top: 5%;
    font-size: 1.3rem;
}

/*Estilos "Aproveita a viagem" */   
.aproveita {
    animation: appear ease-in;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.aproveita img {
    width: 75%;
    border-radius: 50px;
    max-width: 100%;
}

.aproveita h1 {
    position: absolute;
    left: 15%;
    top: 20%;
    font-size: 5vw;
    color: #fff;
    display: inline;
    padding-bottom: 10px;
    white-space: nowrap;
}

.aproveita h1::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

.aproveita h1:hover::after {
    width: 100%;
}

.section {
    margin-top: 10%;
    margin-bottom: 3%;
    width: 100%;
    background: #8B5DFF;
    display: flex;
    align-items: center;
    overflow: hidden;
    animation: appear ease-in;
    background-image: url('images/main/tile.png');
    background-repeat: repeat;
    background-size: 75px 75px;
    position: relative;
}

.images {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.images img {
    max-width: 100%;
    position: absolute;
    left: 10%;
}

.images .francesinha {
    width: 60%;
    height: 35vw;
    transform: rotate(5.15deg) translate(200px, 100px);
    z-index: 2;
    transition: transform 0.5s ease, z-index 0.3s ease;
}

.images .pastelnata {
    width: 60%;
    height: 35vw;
    transform: rotate(-6.62deg) translate(0px, -100px);
    z-index: 1;
    transition: transform 0.5s ease, z-index 0.3s ease;
}

.images .francesinha:hover {
    transform: translate(200px, 100px) scale(1.1);
    z-index: 3;
}

.images .pastelnata:hover {
    transform: translate(0px, -100px) scale(1.1);
    z-index: 3;
}

.text {
    flex: 1;
    color: white;
    font-family: Arial, sans-serif;
    text-align: left;
    padding: 0 5%;
}

.text h1 {
    font-size: 5vw;
    line-height: 1.2;
}

.highlight {
    display: inline-block;
    padding: 5px 10px;
    background-color: white;
    color: #8B5DFF;
    border-radius: 20px;
}

.bigode {
    margin-top: 5%;
    width: 45%;
}

/*Estilo para FAQ*/
.faq-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: appear ease-in;
}

.faq-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.faq-item:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.faq-header:hover {
    background-color: #eaeaea;
}

.faq-container h1 {
    margin-bottom: 2%;
}

.faq-header h3 {
    margin: 0;
    font-size: 1.1em;
    color: #000000;
}

.faq-header::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23BCBCBC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    background: #fff;
    color: #555;
    font-size: 16px;
    transition: max-height 0.5s ease, padding 0.3s ease;
}

.faq-content.open {
    max-height: 200px;
    padding: 15px 20px;
}

.faq-header.open::after {
    transform: rotate(180deg);
}

/* Estilo do footer */
.rounded-footer {
    background-color: #d3d3d3; 
    padding: 20px; 
    text-align: center; 
    border-radius: 15px; 
    margin: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Texto do footer */
.rounded-footer p {
    margin: 10px 0; 
    color: #333; 
    font-size: 14px; 
    line-height: 1.6; 
}   

/* Ajustes para telas a partir de 350px */
@media (min-width: 350px) {
    .navbar {
        flex-direction: row;
        padding: 10px 20px;
        text-align: center;
    }

    .nav-links ul li a {
        display: none;
    }

    .logo a {
        font-size: 2rem;
    }

    .sideBarIcon {
        display: flex;
    }

    .team-member {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/*Esconde elementos da navbar e ajusta o logo para telas menores que 900px*/
@media (max-width: 900px) {
    .nav-links {
        display: none;
    }

    .sideBarIcon {
        display: block;
    }

    .logo a {
        font-size: 1.6rem;
    }

    .faq-container h1 {
        font-size: 1.2rem; 
        margin: 20px 10px; 
        padding: 10px;
    }

    .faq-header h3 {
        font-size: 0.9rem; 
    }

    .faq-content {
        font-size: 0.8rem; 
        line-height: 1.4; 
    }
}


/* Ajustes para telas a partir de 900px */
@media (min-width: 900px) {
    .nav-links ul li a {
        display: flex;
    }

    .sideBarIcon {
        display: none;
    }

    .team {
        flex-direction: row; 
    }

    .team-member {
        flex: 1 1 calc(33.333% - 20px); 
        max-width: calc(33.333% - 20px);
    }

    .sideBarIcon {
        display: none;
    }
}

/* Ajustes para telas a partir de 1200px */
@media (min-width: 1200px) {
    .nav-links ul li a {
        display: flex;
    }

    .sideBarIcon {
        display: none;
    }

    .team {
        flex-direction: row;
    }

    .team-member {
        flex: 1 1 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
    }
}

/* Ajustes para telas a partir de 400px */
@media (min-width: 400px) {
    .slider-container {
        height: calc(100vh - 130px);
        margin: 120px 20px 0 20px;
        border-radius: 20px;
    }

    .middle {
        top: 25vh;
        padding: 15px 20px;
    }

    .middle h1 {
        font-size: 2rem;
    }

    .middle p {
        font-size: 1.2rem;
    }

    .cta-button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
    

    .text h1 {
        font-size: 2rem;
    }

    .aproveita img {
        width: 90%;
    }

    .aproveita h1 {
        font-size: 7vw;
    }

    .icons {
        flex-direction: column;
        left: 15%;
        gap: 20px;
        margin: 5% 0;
    }

    .icons img {
        width: 10vh;
    }

    .section {
        height: 30rem;
    }

    .faq-container {
        padding: 10px;
    }

    .images .francesinha {
        width: 70%;
        height: 40vw;
        transform: rotate(5.15deg) translate(30px, 30px);
        z-index: 2;
    }
    
    .images .pastelnata {
        width: 70%;
        height: 40vw;
        transform: rotate(-6.62deg) translate(10px, -50px);
        z-index: 1;
    }

    .images .francesinha:hover {
        transform: translate(30px, 30px) scale(1.1);
        z-index: 3;
    }
    
    .images .pastelnata:hover {
        transform: translate(10px, -50px) scale(1.1);
        z-index: 3;
    }

 
}

/* Ajustes para telas menores que 400px */
@media (max-width: 400px){

    .slider-container {
        height: calc(100vh - 130px);
        margin: 120px 20px 0 20px;
        border-radius: 20px;
    }

    .middle {
        top: 25vh;
        padding: 15px 20px;
    }

    .middle h1 {
        font-size: 2rem;
    }

    .middle p {
        font-size: 1.2rem;
    }

    .cta-button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .conhecer h1 {
        font-size: 1.5rem;
    }
    
    .conhecer p {
        font-size: 1rem;
    }

    .text h1 {
        font-size: 2rem;
    }

    .aproveita img {
        width: 90%;
    }

    .aproveita h1 {
        font-size: 7vw;
    }

    .icons {
        flex-direction: column;
        left: 15%;
        gap: 20px;
        margin: 5% 0;
    }

    .icons img {
        width: 10vh;
    }

    .section {
        height: 30rem;
    }

    .faq-container {
        padding: 10px;
    }

    .images .francesinha {
        width: 70%;
        height: 40vw;
        transform: rotate(5.15deg) translate(30px, 30px);
        z-index: 2;
    }
    
    .images .pastelnata {
        width: 70%;
        height: 40vw;
        transform: rotate(-6.62deg) translate(10px, -50px);
        z-index: 1;
    }

    .images .francesinha:hover {
        transform: translate(30px, 30px) scale(1.1);
        z-index: 3;
    }
    
    .images .pastelnata:hover {
        transform: translate(10px, -50px) scale(1.1);
        z-index: 3;
    }

}

/* Ajustes para telas maiores que 900px*/
@media (min-width: 900px) {
    .middle h1 {
        font-size: 2.2rem;
    }

    .middle p {
        font-size: 1.5rem;
    }

    .aproveita h1 {
        left: 15%;
        top: 18%;
    }

    .icons {
        flex-direction: row;
        margin: 5% 10%;
    }

    .icons img {
        width: 8vh;
    }
    
    .section {
        height: 40rem;
    }


    .images .francesinha {
        translate: (200px, 100px);
    }

    .images .francesinha {
        width: 60%;
        height: 35vw;
        transform: rotate(5.15deg) translate(150px, 50px);
        z-index: 2;
    }
    
    .images .pastelnata {
        width: 60%;
        height: 35vw;
        transform: rotate(-6.62deg) translate(0px, -100px);
        z-index: 1;
    }

    .images .francesinha:hover {
        transform: translate(150px, 50px) scale(1.1);
        z-index: 3;
    }
    
    .images .pastelnata:hover {
        transform: translate(0px, -100px) scale(1.1);
        z-index: 3;
    }
}

/* Ajustes para telas a partir de 1200px */
@media (min-width: 1200px) {
    .middle {
        padding: 40px 60px;
    }

    .middle h1 {
        font-size: 3rem;
    }

    .middle p {
        font-size: 2rem;
    }

    .cta-button {
        font-size: 1.1rem;
    }

    .text h1 {
        font-size: 5.5rem;
    }

    .icons {
        flex-direction: row;
        margin: 5% 10%;
    }

    .icons img {
        width: 8vh;
    }

    .section {
        height: 50rem;
    }
}

/* Ajustes para telas menores que 480px */
@media (max-width: 480px) {

    .rounded-footer {
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
    }

    .rounded-footer p {
        font-size: 12px;
        line-height: 1.4;
    }
}







