* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8); /* Transparente inicialmente */
    border-radius: 20px;
    width: calc(100% - 40px);
    margin: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

/* Adiciona sombra ao rolar */
.navbar.navbar-scrolled {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5); /* Aumenta a transparência ao rolar */
}

/* Opacidade total no hover */
.navbar:hover {
    background-color: rgba(255, 255, 255, 1); /* Fica opaca ao passar o mouse */
}

/* Logotipo */
.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.logo a span {
    color: #8B5DFF; /* Cor do * */
}

/* Lista de navegação */
.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 40px; /* Espaço maior entre os itens */
}

.nav-links ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.nav-links ul li a:hover {
    color: #8B5DFF;
}

.navbar-side {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20rem;
    z-index: 101;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.links-side {
    margin-left: 30px;
    margin-top: 10px;
    font-size: larger;
}

.nav-side li {
    width: 100%;
    margin-top: 20px;
}

.nav-side a {
    width: 100%;
}

.nav-side {
    flex-grow: 1;
    display: flex;
}

.nav-side ul {
    list-style: none;
}

.nav-side ul li a {
    font-size: 150%;
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.nav-side ul li a:hover {
    color: #8B5DFF;
}

.date-time {
    margin-right: 20px;
    text-align: right;
}

  #Time {
    font-size: 1.5rem; /* Fonte menor para a hora */
    font-weight: normal;
    margin-bottom: 0.2rem; /* Menor espaço abaixo da hora */
  }
  #Date {
    font-size: 1rem; /* Fonte maior para a data */
    font-weight: bold;
  }


/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: calc(90vh - 110px);
    margin: 110px 20px 0 20px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-next {
    position: absolute;
    bottom: 1rem;
    left: 3.5rem;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

/* Tabs */
.tabs {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 0.5rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    margin: 2rem auto;
    max-width: 1500px;
    border-radius: 10px;

}

.tab {
    background-color: #e0e0e0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.tab:hover {
    background-color: #ccc;
}

.tab.active {
    background-color: #8B5DFF;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Conteúdo */
.content {
    display: none; /* Oculto por padrão */
    padding: 2rem;
    background-color: #fff;
    max-width: 1500px;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 20px; 
    line-height: 1.8;
    text-align: justify;
    letter-spacing: 0.03em;
}

.content p{
    margin-bottom: 1.5rem;
}

.content h3{
    font-size: 26px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bolder;
    padding-left: 10px;
}

.content ul{
    margin-left: 1.5rem;
    padding-left: 1rem;
    list-style: square;
}

.content ul li {
    margin-bottom: 0.8rem; 
    text-indent: 1rem; 
    line-height: 1.6;
}

/* Estilo do footer */
.rounded-footer {
    background-color: #d3d3d3; /* Cinza claro */
    padding: 20px;
    text-align: center;
    border-radius: 15px; /* Deixa as pontas arredondadas */
    margin: 20px; /* Margem ao redor para espaçamento */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional para destaque */
}

/* Texto do footer */
.rounded-footer p {
    margin: 0;
    color: #333; /* Cor do texto */
    font-size: 14px;
}




.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Define 4 colunas */
    gap: 40px; /* Espaço entre os itens */
    max-width: 1400px; /* Largura máxima da galeria */
    margin: 0 auto; /* Centraliza a galeria na página */
    justify-content: center; /* Centraliza as filas com menos imagens */
    align-items: center;
}

.item {
    text-align: center;
}

.galeria img, .item img {
    object-fit: cover;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.item .texto {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}

.secao-titulo {
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0 50px;
    text-align: left;
    color: #222;
    padding: 20px;
}

section{
    margin-bottom: 50px;
}

/* Centralizar o título da seção Gastronomia */
#gastronomia .secao-titulo {
    text-align: center; /* Centraliza o texto */
}

/* Centralizar a galeria de imagens */
#gastronomia .galeria {
    justify-content: center; /* Centraliza horizontalmente */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsivo para imagens */
    gap: 20px; /* Ajusta o espaçamento entre as imagens */
}

/* Ajustar as imagens */
#gastronomia .item img {
    margin: 0 auto; /* Centraliza as imagens no container */
    display: block; /* Garante que a imagem seja tratada como um bloco */
    max-width: 100%; /* Garante que a imagem não ultrapasse o container */
    border-radius: 10px; /* Deixa as bordas arredondadas */
}

@media (max-width: 800px) {
    .item {
        flex: 1 1 calc(45% - 20px); 
        max-width: calc(45% - 20px);
    }
}
@media (max-width: 500px) {
    .item {
        grid-template-columns: 1 1 100%; 
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas menores */
    }
}

@media (max-width: 480px) {
    .galeria {
        grid-template-columns: repeat(1, 1fr); /* 1 coluna em telas muito pequenas */
    }
}


/* Telas pequenas (smartphones em modo retrato) */
@media (min-width: 350px) {
    .navbar {
        flex-direction: row;
        padding: 10px 20px;
        text-align: center;
    }

    .nav-links ul li a {
        display: none;
    }

    .logo a {
        font-size: 2rem;
    }

    .sideBarIcon {
        display: flex;
    }

    .team-member {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/* Telas grandes (desktops) */
@media (min-width: 900px) {
    .nav-links ul li a {
        display: flex;
    }

    .sideBarIcon {
        display: none;
    }

    .team {
        flex-direction: row; /* Garante layout em linha */
    }

    .team-member {
        flex: 1 1 calc(33.333% - 20px); /* Ajusta a largura */
        max-width: calc(33.333% - 20px);
    }
}

@media (min-width: 1200px) {
    .nav-links ul li a {
        display: flex;
    }

    .sideBarIcon {
        display: none;
    }

    .team {
        flex-direction: row; /* Garante layout em linha */
    }

    .team-member {
        flex: 1 1 calc(33.333% - 20px); /* Ajusta a largura */
        max-width: calc(33.333% - 20px);
    }
}
